.jerga {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: solid 20px white;
  /* filter: blur(15px); */
}

.row {
  display: flex;
  flex-direction: row;
}

div.cell {
  --cell-size: 20vw;
  --cell-size-2: 11vw;

  width: var(--cell-size);
  height: var(--cell-size);
}

@media (min-width: 800px) {
  div.jerga {
    flex-direction: row;
  }

  div.cell {
    width: var(--cell-size-2);
    height: var(--cell-size-2);
  }

  .row {
    flex-direction: column;
  }
}