:root {
  background-color: #000000;
  font-family: monospace;
}

body::-webkit-scrollbar {
  display: none;
}

.timeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.settingsMenu {
  position: absolute;
  bottom: -12vh;
  font-size: 5rem;
  font-weight: 1000;
  background-color: transparent;
  color: rgb(148, 148, 148);
  border: none;
  /* right: 2vh; */
  /* right: -40vw; */
}

