:root {
  background-color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  /* filter: blur(1px); */
  margin-top: 2rem;
}

.timeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.settingsMenu {
  position: absolute;
  bottom: -12vh;
  font-size: 3rem;
  font-weight: 1000;
  background-color: black;
  color: rgb(148, 148, 148);
  border: none;
  /* right: 2vh; */
  /* right: -40vw; */
}

.jerga {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* filter: blur(15px); */
}

.cell {
  width: 12vh;
  height: 12vh;
}

.row {
  display: flex;
  flex-direction: row;
}